body {
    margin: 0;
}

.header {
    background-color: #030040;
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    margin: 0;
}

.aboutme {
    background-color: #050152;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 8fr 2fr;
    font-family: 'Poppins';
    color: white;
}

.aboutme h2 {
    padding-left: 20px;
}

.aboutme p {
    padding-left: 20px;
}

footer {
    background-color: #cccccc;
    margin: 0;
}

#one {
    font-family: 'Poppins';
    color: #91deff;
    vertical-align: middle;
    text-align: center;
    padding-top: 5%;
}

#two {
    font-family: 'Poppins';
    color: white;
    padding-left: 10%;
}

#two ul {
    list-style-type: none;
}

#two a {
    text-decoration: none;
    color: white;
}

#two a:visited {
    text-decoration: none;
    color: #680387;
}

#two a:hover {
    text-decoration: none;
    color: gray;
}

#three {
    justify-content: center;
}

#three img {
    width: 100px;
    padding-bottom: 10px;
    padding-left: 20%;
}

.portrait img {
    width: 200px;
    margin: 10px;
    margin-right: 20px;
    border-radius: 10%;
}
